--extra-index-url https://download.pytorch.org/whl/cu118

git+https://github.com/openai/whisper.git
ffmpeg
translate
srt
pydub
ffmpeg
librosa
sounddevice
cos-python-sdk-v5
transformers
diffusers
safetensors
sentencepiece
protobuf
opencv-python
torchvision
torchaudio
funasr==1.0.14
modelscope
hdbscan
rotary_embedding_torch