--extra-index-url https://download.pytorch.org/whl/cu118
# --index-url  https://download.pytorch.org/whl/cu118
# pip install torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 xformers --index-url https://download.pytorch.org/whl/cu118

# git+https://github.com/openai/whisper.git
whisper
ffmpeg
translate
srt
pydub
ffmpeg
librosa
sounddevice
cos-python-sdk-v5
transformers
diffusers
safetensors
sentencepiece
protobuf
opencv-python
torchvision
torchaudio
funasr==1.0.14
modelscope
hdbscan
rotary_embedding_torch
av
moviepy
pysrt
spacy